# Dependencies
node_modules/

# Build output
dist/

# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Local development
*.log
*.local

# Environment variables
.env
.env.local
.env.*.local
